@{
    ViewBag.Title = "C# Interview Questions";
}

@section Scripts 
{
<script src="~/Js/app.js"></script>
<script src="~/Js/testsController.js"></script>
<script src="~/Js/dataService.js"></script>
<script src="~/Js/singleTestController.js"></script>
<script src="~/Js/Directives/interviewQuestion.js"></script>    
}

<div ng-view=""></div>